.container{
    margin: auto;
    max-width: 1000px;
    display: flex;
    padding: 3em;
}

.img-container{
    max-width: 500px;
    border-radius: 12px;
}

img{
    width: 100%;
    border-radius: 12px;
}

.text-container{
    margin-left: 1em;
}

.text-container h1{
    font-weight: 500;
    margin-bottom: 0.1em;
}

.text-container .gender{
    color: grey;
    margin-bottom: 1em;
}

.text-container .price{
    margin-bottom: 1em;
}

.text-container button{
    border: none;
    padding: 1em 4em;
    background-color: black;
    border-radius: 25px;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.desc{
    margin-top: 2em;
    line-height: 1.3em;
}

ul{
    margin-left: 1em;
    margin-top: 2em;
}

li{
    margin-top: 1em;
}

@media (max-width: 900px){
    .container{
        max-width: 500px;
        flex-wrap: wrap;
    }

    .text-container{
        margin-left: 0;
        margin-top: 1em;
    }
}