.cart-btn{
    width: 50px;
    cursor: pointer;
    position: relative;
}

.cart-total{
    display: none;
    position: absolute;
    top: 73px;
    right: 53px;
}

.link{
    text-decoration: none;
    color: black;
    margin-right: 1em;
}

.cart-total.active{
    display: block;
    
}