.navbar{
    flex: 1;
}

.navlist{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 0px;
}

.navbar a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    cursor: pointer;
}

@media (max-width: 768px){
    .navbar{
        display: none;
    }
}